body {
    /* background-image: url("../images/mountain.jpeg"); */
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

#navbar {
    height: 35px;
    font-size: 22px;
}

#navName, #navList{
    padding: 0;
    margin: 0;
    color: #313131;
}

#navContent {
    float: right;
}

.jumbotron {
    background-image: url('../images/headerbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 0;
    width: 100%;
}

h1 {
    font-family: 'Unica One', cursive;
    padding: 5px;
    font-size: 100px;
}

h2 {
    padding: 15px;
    text-align: center;
    font-family: 'Unica One', cursive;
    background-color: #4d5c6f;
    color: white;
}

#profilePic {
    height: 200px;
    border-radius: 1000px;
    position: relative;
    top: -10px;
    z-index: 1;
    border: 3px solid rgb(248, 246, 246);
}

.portfolioImages {
    height: 170px;
    width: 250px;
}

#languages, #hobbies{
    list-style-type: none;
    text-align: left;
    padding: 20px;
}

#submitBTN {
    display: block;
    margin: auto;
    color: white;
    background-color: #60708a;
    border: 2px solid #4d5c6f;
    padding: 2px;
    width: 149px;
}

figure {
    padding: 0;
    width: 250px;
}

figcaption {
    position: relative;
    top: -42px;
    left: 34px;
    background-color: rgba(77, 92, 111, 0.87);
    text-align: center;
    padding: 23px;
    font-family: 'Unica One', cursive;
    color: white;
}

#mainContent {
    text-align: justify;
    padding: 15px;
    line-height: 175%;
}

#mainContentPortfolio {
    margin-left: 3%;
}

#portRow {
    margin-bottom: 5%;
    margin-top: 3%;
}

.social-github2-dreamstale35 {
    width: 40px;
    height: 40px;
    background-position: -366px -158px;
    padding:5px;
    margin-bottom: 10px;
}

.social-linkedin-dreamstale45 {
    width: 40px;
    height: 40px;
    background-position: -418px -210px;
    padding: 5px;
    margin-bottom: 10px;

}

.social-overflow-dreamstale53 {
    width: 40px;
    height: 40px;
    background-position: -366px -262px;
    padding: 5px;
    margin-bottom: 10px;

}

form {
    width: 70%;
    display: block;
    margin: auto;
}

.footer {
    width: 100%;
}

.portfolioImages:hover, .social-github2-dreamstale35:hover, .social-linkedin-dreamstale45:hover, .social-overflow-dreamstale53:hover {
    opacity: .8;
    animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
   
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


