body {
    background-image: url("../images/mountain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

#header {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2%;
    border-top: 30px solid rgba(255, 255, 255, 0.500);
    border-bottom: 30px solid rgba(255, 255, 255, 0.500);
    background-clip: padding-box;
    clear: both;
}

h1 {
    font-family: 'Unica One', cursive;
    color: black;
    padding: 5px;
    font-size: 55px;
}

h2 {
    padding: 10px;
    text-align: center;
    font-family: 'Unica One', cursive;
}

.navbar-nav {
    font-family: 'Unica One', cursive;
    font-size: 22px;
}

#profilePic {
    margin: 15px 20px 10px 10px;
    height: 215px;
    float: left;
    border: 15px solid #435a5e7c;
}

.portfolioImages {
    height: 170px;
    width: 250px;
    padding: 10px;
    margin-left: 0px;
}

figure {
    padding: 0;
    width: 250px;
}

figcaption {
    position: relative;
    top: -70px;
    left: 0;
    background-color: rgba(253, 252, 252, 0.781);
    text-align: center;
    padding: 5px;
    font-family: 'Unica One', cursive;

}

#mainContent {
    background-color: rgba(255, 255, 255, 0.664);
    text-align: justify;
    padding: 15px;
}

#socialIcons {
    background-color: rgba(255, 255, 255, 0.752);
    border: 5px solid white;
    height: 100%;
    margin-left: 1%;
}

.social-github2-dreamstale35 {
    width: 80px;
    height: 80px;
    background-position: -366px -158px;
    padding:5px;
    margin-bottom: 10px;
}

.social-linkedin-dreamstale45 {
    width: 80px;
    height: 80px;
    background-position: -418px -210px;
    padding: 5px;
    margin-bottom: 10px;

}

.social-overflow-dreamstale53 {
    width: 80px;
    height: 80px;
    background-position: -366px -262px;
    padding: 5px;
    margin-bottom: 10px;

}

.portfolioImages:hover, .social-github2-dreamstale35:hover, .social-linkedin-dreamstale45:hover, .social-overflow-dreamstale53:hover {
    opacity: .8;
    animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
   
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }



.footer {
    background-color: white;
    border-top: 10px solid rgba(255, 255, 255, 0.500);
    border-bottom: 10px solid rgba(255, 255, 255, 0.500);
    background-clip: padding-box;
    width: 100%;
    margin-top: 2%;
    line-height: 1.5;
    padding: 10px;
}
